<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application>
        <activity
            android:name=".TimetableActivity"
            android:exported="false"
            android:theme="@style/Theme.SzuRedColorSecondary">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

<!--        <receiver-->
<!--            android:name=".appwidget.DayTimetableAppWidget"-->
<!--            android:exported="true"-->
<!--            android:label="@string/timetable_app_widget_label_day_timetable">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/appwidget_provider_day_timetable" />-->
<!--        </receiver>-->
    </application>

</manifest>